@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container-wrap{
  background-color: #252525;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.container-wrap h1{
  font-size: 60px;
  background-image: linear-gradient(to bottom, rebeccapurple, steelblue, turquoise);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: black;
  font-family: 'Bebas Neue', cursive;

}

.container-wrap h2{
  font-size: 2rem;
  background-image: linear-gradient(to bottom, rebeccapurple, steelblue, turquoise);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: black;
}

.container-wrap input{
  color: #fff;
  background-color: #252525;
  outline: none;
  width: 100%;
  max-width: 350px;
  padding: 8px 4px;
  margin: 15px 0;
  border: .5px solid #000 ;
}

.button{
  font-size: 1rem;
  font-weight: 900;
  width: 100%;
  max-width: 350px;
  border: 1px solid #555;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
  background-image: linear-gradient(to bottom, rebeccapurple, steelblue, turquoise);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 25px;
}

.button:hover{
  background: rgba(85,85,85,0.1);
  color: rebeccapurple;
  -webkit-text-fill-color: steelblue;
}